@import url("./Fonts.css");
@import url("./Effects.css");

.info-container {
  width: auto;
  margin-top: 15vw;
  margin-left: 12vw;
  float: left;
}

.picture-container {
  margin-top: 2%;
  float: left;
  width: 45%;
  height: auto;
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
}

.icon-github {
  color: black;
}

.icon-linkedin {
  color: #1900ff;
}

.main-title {
  margin: 0;
  font-family: "roboto-mono-regular";
  font-size: 5vw;
}

.sub-title {
  margin: 0;
  font-family: "roboto-mono-thin";
  font-size: 2.5vw;
}

.image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .info-container {
    margin-top: 8vw;
    margin-left: 8vw;
  }

  .picture-container {
    width: auto;
  }
  
  .main-title {
    font-size: 10vw;
  }
  
  .sub-title {
    font-size: 5vw;
  }
}
